# Función map()

In [9]:
numeros = [8,16,32,64,128,256q]

def doblar(num):
    return num * 2
map(doblar, numeros)

In [10]:
m = map(doblar, numeros)

In [11]:
next(m)

16

In [12]:
next(m)

32

In [13]:
next(m)

64

In [14]:
list(map(lambda x: x * 2, numeros))

[16, 32, 64, 128, 256, 512]

In [18]:
a = [8,16,32,64]
b = [128,256,512,1024]
c = [8,8,8,8]
list(map(lambda x,y,z: x*y*z, a,b,c))

[8192, 32768, 131072, 524288]

In [19]:
class Persona:
    
    def __init__(self, nombre, edad):
        self.nombre = nombre
        self.edad = edad

    def __str__(self):
        return "{} de {} años".format(self.nombre, self.edad)


personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

In [20]:
def incrementar(p):
    p.edad += 1
    return p
personas = map(incrementar, personas)

In [21]:
for persona in personas:
    print(persona)

Juan de 36 años
Marta de 17 años
Manuel de 79 años
Eduardo de 13 años

In [23]:
personas = [
    Persona("Juan", 35),
    Persona("Marta", 16),
    Persona("Manuel", 78),
    Persona("Eduardo", 12)
]

In [ ]:
personas = map(lambda p: Persona(p.nombre, p.edad +1))