In [2]:
valor = input()
valor

hola

'hola'

In [3]:
valor = input()

100

In [4]:
valor

'100'

In [5]:
valor = input("Introduce un valor")

Introduce un valor100

In [6]:
valor

'100'

In [7]:
valor + 100

TypeError: can only concatenate str (not "int") to str

In [9]:
valor = input("Introduce un número entero")

Introduce un número entero50

In [10]:
valor = int(valor)
valor + 100

150

In [2]:
valor = input("Introduce un número entero ó decimal")

Introduce un número entero ó decimal12.5

In [9]:
valor = float(valor)

In [10]:
valor + .5
valor

12.5

In [3]:
valor = float(valor)
valor = valor + .5
valor

13.0

In [11]:
valor = float(input("Ingresa un valor decimal o entero"))

Ingresa un valor decimal o entero12.5

In [12]:
valor

12.5