In [1]:
lista = ["Hola", 10, "Adios", [50,100,150]]
lista[-1]

[50, 100, 150]

In [2]:
lista[-1][0]

50

In [3]:
lista[-1][-1]

150

In [4]:
for nuemro in lista[-1]:
    print(nuemro)

50
100
150

In [10]:
lista = [
    "Esto es un texo",
    (1,5,10,15,20,25),
    ["Azul", "Verde", "Amarillo"]
]

In [11]:
for coleccion in lista:
    print(coleccion)

Esto es un texo
(1, 5, 10, 15, 20, 25)
['Azul', 'Verde', 'Amarillo']

In [12]:
for coleccion in lista:
    for elemento in coleccion:
        print(coleccion, "=>", elemento)

Esto es un texo => E
Esto es un texo => s
Esto es un texo => t
Esto es un texo => o
Esto es un texo =>
Esto es un texo => e
Esto es un texo => s
Esto es un texo =>
Esto es un texo => u
Esto es un texo => n
Esto es un texo =>
Esto es un texo => t
Esto es un texo => e
Esto es un texo => x
Esto es un texo => o
(1, 5, 10, 15, 20, 25) => 1
(1, 5, 10, 15, 20, 25) => 5
(1, 5, 10, 15, 20, 25) => 10
(1, 5, 10, 15, 20, 25) => 15
(1, 5, 10, 15, 20, 25) => 20
(1, 5, 10, 15, 20, 25) => 25
['Azul', 'Verde', 'Amarillo'] => Azul
['Azul', 'Verde', 'Amarillo'] => Verde
['Azul', 'Verde', 'Amarillo'] => Amarillo

In [14]:
for indice_coleccion,coleccion in enumerate(lista):
    for indice_elemento,elemento in enumerate(coleccion):
        print(coleccion, "=>", elemento)

Esto es un texo => E
Esto es un texo => s
Esto es un texo => t
Esto es un texo => o
Esto es un texo =>
Esto es un texo => e
Esto es un texo => s
Esto es un texo =>
Esto es un texo => u
Esto es un texo => n
Esto es un texo =>
Esto es un texo => t
Esto es un texo => e
Esto es un texo => x
Esto es un texo => o
(1, 5, 10, 15, 20, 25) => 1
(1, 5, 10, 15, 20, 25) => 5
(1, 5, 10, 15, 20, 25) => 10
(1, 5, 10, 15, 20, 25) => 15
(1, 5, 10, 15, 20, 25) => 20
(1, 5, 10, 15, 20, 25) => 25
['Azul', 'Verde', 'Amarillo'] => Azul
['Azul', 'Verde', 'Amarillo'] => Verde
['Azul', 'Verde', 'Amarillo'] => Amarillo

In [15]:
for indice_coleccion,coleccion in enumerate(lista):
    for indice_elemento,elemento in enumerate(coleccion):
        print(lista[indice_coleccion][indice_elemento])

E
s
t
o

e
s

u
n

t
e
x
o
1
5
10
15
20
25
Azul
Verde
Amarillo

In [16]:
tabla = [
     [0,0,0],
     [1,1,1],
     [2,2,2]
 ]

In [17]:
for fila in tabla:
    print(fila)

[0, 0, 0]
[1, 1, 1]
[2, 2, 2]

In [25]:
tabla = [
     [0,0,0],
     [1,1,1],
     [2,2,2]
 ]
for fila in tabla:
    for columna in fila:
        print(columna, end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [28]:
for i, fila in enumerate(tabla):
    for j, columna in enumerate(fila):
        print(tabla[i][j], end=" ")
    print()

0 0 0
1 1 1
2 2 2

In [3]:
tabla1 =[1,2,3]
tabla2 =[4,5,6]
tabla3 =[7,8,9]

cubo = [
    tabla1, tabla2, tabla3
]
for columna in cubo:
    for fila in columna:
        print("*",columna, fila)

* [1, 2, 3] 1
* [1, 2, 3] 2
* [1, 2, 3] 3
* [4, 5, 6] 4
* [4, 5, 6] 5
* [4, 5, 6] 6
* [7, 8, 9] 7
* [7, 8, 9] 8
* [7, 8, 9] 9

In [1]:
tabla = [
     [0,0,0],
     [1,1,1],
     [2,2,2]
 ]
cubo = [
    tabla, tabla, tabla 
]

In [2]:
print(cubo[0][0][0])

0

In [3]:
print(cubo[2][1][2])

1

In [4]:
for tabla in cubo:
    for fila in tabla:
        for columna in fila:
            print(columna)

0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2
0
0
0
1
1
1
2
2
2

In [5]:
for k,tabla in enumerate(cubo):
    for j,fila in enumerate(tabla):
        for i,columna in enumerate(fila):
            print(cubo[k][j][i], end=" ")
        print()
    print()

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2

0 0 0
1 1 1
2 2 2